<div class="container" data-sly-use.main="main.js">
    <div data-sly-resource="${'contentnav' @ resourceType='aem-test-app/components/structure/contentnav'}"></div>

    <div><p>dit is een test pagina</p></div>

    <sly data-sly-resource="${'content' @ resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap></sly>

    <footer class="footer">
        <p>${"&copy; {0} bachelorproef-van-mike Site. All rights reserved." @ i18n,
            format=main.year, context='html'}</p>
    </footer>
</div>