.contentnav {
    float: left;
    list-style: none;
}
.languagenav {
    float: right;
    list-style: none;
}
.nav__item {
    float: left;
    margin-left: 15px;
}
.nav__item--selected {
    font-weight: bold;
}
